/* Header */

#head .lead {
    font-family: "Open sans", Helvetica, Arial;
    font-size: 44px;
    margin-bottom: 6px;
    color: black;
    line-height: 1.15em;
}


/* Style the video: 100% width and height to cover the entire window */


/** We change property of background video **/

audio,
canvas,
video {
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -7%;
}

#myModal video {
    width: 100%;
    margin-top: 1%;
}

.img-bckground {
    background-color: #333;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -3%;
}


/* demo content */

body {
    color: #292f36;
    font-family: helvetica;
    line-height: 1.6;
}

.content {
    margin: 0 auto;
    padding: 4rem 0;
    width: 960px;
    max-width: 100%;
}

article {
    float: left;
    width: 720px;
}

article p:first-of-type {
    margin-top: 0;
}

aside {
    float: right;
    width: 120px;
}

p img {
    max-width: 100%;
}

@media only screen and (max-width: 960px) {
    .content {
        padding: 2rem 0;
    }
    article {
        float: none;
        margin: 0 auto;
        width: 96%;
    }
    article:last-of-type {
        margin-bottom: 3rem;
    }
    aside {
        float: none;
        text-align: center;
        width: 100%;
    }
}

#head .tagline {
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 25px;
}

#head .tagline a {
    color: black;
}

#head .btn {
    margin-bottom: 10px;
}

#head .btn-default {
    text-shadow: none;
    background: transparent;
    color: rgba(255, 255, 255, .5);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .5);
    background: transparent;
}

#head .btn-default:hover,
#head .btn-default:focus {
    color: rgba(255, 255, 255, .8);
    -webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    -moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, .8);
    background: transparent;
}

#head .btn-default:active,
#head .btn-default.active {
    color: #fff;
    -webkit-box-shadow: inset 0px 0px 0px 3px #fff;
    -moz-box-shadow: inset 0px 0px 0px 3px #fff;
    box-shadow: inset 0px 0px 0px 3px #fff;
    background: transparent;
}

.thin1 {
    color: #000;
    position: relative;
    text-align: center;
    margin: 5px;
}

@media (max-width: 767px) {
    #head {
        min-height: 420px;
        padding-top: 160px;
    }
    #head .lead {
        font-size: 34px;
    }
}


/*** @media for responsive design**/

@media (width:425px) {
    video {
        margin-top: -7%;
    }
}

@media (width:320px) {
    video {
        margin-top: -9%;
    }
}

@media (width:375px) {
    video {
        margin-top: -8%;
    }
}


/** Breakpoints for min and max width**/

@media (min-width:500px) and (max-width:768px) {
    video {
        margin-top: -3.5%;
    }
}

@media (min-width:800px) and (max-width:1440px) {
    video {
        margin-top: -2.9%;
    }
}


/* Autohide navbar */

.slideUp {
    top: -100px;
}

.headroom {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/* Highlights (in jumbotron in most cases) */

.highlight {
    margin-top: 40px;
}

.h-caption {
    text-align: center;
}

.h-caption i {
    display: block;
    font-size: 54px;
    color: #382526;
    margin-bottom: 36px;
}

.h-caption h4 {
    color: #382526;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open sans", Helvetica, Arial;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 30px;
}

blockquote {
    font-style: italic;
    font-family: Georgia;
    color: #999;
    margin: 30px 0 30px;
}

label {
    color: #777;
}

.thin {
    font-weight: 300;
    color: black;
    position: relative;
    margin-top: 100px;
}

.page-title {
    margin-top: 20px;
    font-weight: 300;
}

.text-muted {
    color: #888;
    margin-top: 20px;
}

.breadcrumb {
    background: none;
    padding: 0;
    margin: 30px 0 0px 0;
}

ul.list-spaces li {
    margin-bottom: 10px;
}


/* Helpers */

.container-full {
    margin: 0 auto;
    width: 100%;
}

.top-space {
    margin-top: 60px;
}

.top-margin {
    margin-top: 20px;
}

img {
    max-width: 100%;
}

img.pull-right {
    margin-left: 10px;
}

img.pull-left {
    margin-right: 10px;
}

#map {
    width: 100%;
    height: 280px;
}

#social {
    margin-top: 50px;
    margin-bottom: 50px;
}

#social .wrapper {
    width: 340px;
    margin: 0 auto;
}


/* Sidebars */

.sidebar {
    padding-top: 36px;
    padding-bottom: 30px;
}

.sidebar .widget {
    margin-bottom: 20px;
}

.sidebar h1,
.sidebar .h1,
.sidebar h2,
.sidebar .h2,
.sidebar h3,
.sidebar .h3 {
    margin-top: 20px;
}


/* Footer */

.footer1 {
    background: #232323;
    padding: 30px 0 0 0;
    font-size: 12px;
    color: #999;
}

.footer1 a {
    color: #ccc;
}

.footer1 a:hover {
    color: #fff;
}

.footer1 .widget {
    margin-bottom: 30px;
}

.footer1 .widget-title {
    font-size: 17px;
    font-weight: bold;
    color: #ccc;
    margin: 0 0 20px;
}

.footer1 .entry-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 0 0 35px 0;
    padding: 2px 0;
    color: #888888;
    font-size: 12px;
    font-size: 0.75rem;
}

.footer1 .entry-meta a {
    color: #333333;
}

.footer1 .entry-meta .meta-in {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.follow-me-icons {
    font-size: 30px;
}

.follow-me-icons i {
    float: left;
    margin: 0 10px 0 0;
}

.footer2 {
    background: #191919;
    padding: 15px 0;
    color: #777;
    font-size: 12px;
}

.footer2 a {
    color: #aaa;
}

.footer2 a:hover {
    color: #fff;
}

.footer2 p {
    margin: 0;
}

.widget-simplenav {
    margin-left: -5px;
}

.widget-simplenav a {
    margin: 0 5px;
}


/* Style the video: 100% width and height to cover the entire window */

.myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
}

.demo {
    padding: 100px 0;
}

.heading-title {
    margin-bottom: 100px;
}

.our-team {
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.15);
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .pic:before {
    content: "";
    background: #6a7b7c;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    opacity: 0.78;
    transform: scale(0);
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .pic:before {
    transform: scale(1);
}

.our-team .pic img {
    width: 100%;
    height: auto;
}

.our-team .social {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 40%;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .social {
    opacity: 1;
}

.our-team .social li {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li:nth-child(1) {
    transform: translate3d(22px, -19px, 0px);
}

.our-team:hover .social li:nth-child(1) {
    transform: translate3d(62px, -19px, 0px);
}

.our-team .social li:nth-child(2) {
    transform: translate3d(36px, 38px, 0px);
}

.our-team:hover .social li:nth-child(2) {
    transform: translate3d(36px, 8px, 0px);
}

.our-team .social li:nth-child(3) {
    transform: translate3d(-18px, -75px, 0px);
}

.our-team:hover .social li:nth-child(3) {
    transform: translate3d(-18px, -46px, 0px);
}

.our-team .social li:nth-child(4) {
    transform: translate3d(-5px, -19px, 0px);
}

.our-team:hover .social li:nth-child(4) {
    transform: translate3d(-43px, -19px, 0px);
}

.our-team .social li a {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #333;
    font-size: 16px;
    color: #fff;
    margin: 0 15px 0 0;
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover {
    line-height: 35px;
    background: #fff;
    color: rgb(131, 118, 118);
    transform: rotate(-45deg);
}

.our-team .social li a i {
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out 0s;
}

.our-team .social li a:hover i {
    transform: rotate(45deg);
}

.our-team .team-content {
    padding: 15px 10px;
    background: #fff;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .title {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
}

.our-team small {
    display: block;
    font-size: 14px;
    color: #999;
    margin-bottom: 8px;
}

.our-team .team-layer {
    width: 100%;
    padding: 34px 10px;
    background: #f7f7f7;
    border-bottom: 2px solid #716a9e;
    position: absolute;
    bottom: -50px;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team:hover .team-layer {
    bottom: 0;
    opacity: 1;
}

.our-team .team-layer a {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    margin: 0 0 12px 0;
    transition: all 0.3s ease-in-out 0s;
}

.our-team .team-layer a:hover {
    color: #716a9e;
}

.our-team .post {
    display: block;
    font-size: 14px;
    color: #999;
    text-transform: capitalize;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 35px;
    }
}

body {
    padding-top: 80px;
}


/* Rotation */

.rot_im img li a {
    -webkit-transition: -webkit-transform 1s ease-in-out;
    /* Utilisé pour la transition sur chrome et safari */
    -moz-transition: -moz-transform 1s ease-in-out;
    /* Utilisé pour la transition sur Firefox */
    transition: transform 1s;
}

.rot_im a:hover img:hover {
    -webkit-transform: rotate(-1turn);
    -moz-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
    transition-duration: 1s;
}

.shake-IMG {
    margin: 1px;
}

.shake-IMG:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.img-side_500-300 {
    width: 500px;
    height: 300px;
}

.img-side_130 {
    width: 130px;
    height: 130px;
}


/* CSS Document */